.button{
  color: $button-color;
  display: inline-block;
  border: 1px solid;
  padding: $min-space $normal-space;
  border-radius: calc(#{$min-space} / 2);
  font-weight: bold;
  background-color: $button-alternative;

  &:hover{
    background-color: $button-color;
    color: $background-color;
  }
}

[class*="button-l"]:hover{
  color: transparent;
}