.button{
  color: $button-color;
  display: inline-block;
  border: 1px solid;
  padding: $min-space $normal-space;
  border-radius: .25rem;
  font-weight: bold;
  background-color: $button-alternative;

  &:hover{
    background-color: $button-color;
    color: $background-color;
  }
  &-l-github{
    background-image: url('../../binarios/github_button.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    @media (prefers-color-scheme : dark) {
      background-image: url('../../binarios/github_button_dark.svg');
    }
  }
  &-l-web{
    background-image: url('../../binarios/working_button.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    @media (prefers-color-scheme : dark) {
      background-image: url('../../binarios/working_button_dark.svg');
    }
  }
}

[class*="button-l"]:hover{
  color: transparent;
}